body {
background-color:rgb(165, 165, 165)
}

div.grammarly-desktop-integration {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
  }

  div.grammarly-desktop-integration:before {
    content: attr(data-content);
  }

h1 {
    background-color: #ffffff;
    color: #000000;
    text-shadow: 1px 1px 20px #a59191;
    text-align: center;
}